body{
  background-color: #23252C;
  color: white;
}

.container {
  background-color: #1A1B21;
  width: 20rem;
  margin: 1rem auto;
}
.head-text{
  text-align: center;
}
h3 {
  color: #F3BF99;
}
button {
  width: 8rem;
  height: 2.4rem;
  margin: 2rem 1rem;
  border: none;
  border-radius: 10px;
  
}
.linkedin {
  background-color: #5093E2;
  color: white;
}

h2,p {
  padding: 0 1rem;
}
li{
  list-style: none;
  margin: 1rem;
}
.icons {
  display: flex;
  background-color: #161619;
}
